.all-personnel {
  padding: 20px;
}

.personnel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.personnel-item p {
  margin-right: 20px;
}

.name {
  font-weight: bold;
}