h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

details {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

details summary {
  list-style: none;
}

details:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 10px;
  border-left: 3px solid #ccc;
}

details.overdue li {
  text-align: center;
}

details.overdue strong {
  color: red;
  border-bottom: 3px solid white;
}

details.almost-due li {
  text-align: center;
}

details.almost-due strong {
  color: orange;
  border-bottom: 3px solid white;
}

.available-data li {
  text-align: center;
}

.available-data strong {
  color: green;
  border-bottom: 3px solid white;
}

.completed-data li {
  text-align: center;
}

.completed-data strong {
  border-bottom: 3px solid white;
}